{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FontAwesome--->
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover({
                placement : 'bottom',
                trigger : 'hover'
            });
        });
    </script>


    <title>Deal Finder</title>
</head>
<body>
<!-- The main Navbar which goes on every page. -->
<nav class="navbar navbar-expand-md">

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <i class="fas fa-piggy-bank whiteiconcolor"></i>
        <a class="nav-link mr-auto" href="{% url 'index' %}">DealFinder</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
{#               data-toggle="popover" title="More information" data-content="Click here for more information"#}
                <a class="nav-link" href="{% url 'browse' %}" data-toggle="popover" title="Look for items here">Browse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'shopping_list' %}" data-toggle="popover" title="Create, and view current shopping lists">Shopping List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'budget' %}" data-toggle="popover" title="Create, edit and update your budgets here">Budget</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="{% url 'about' %}" data-toggle="popover" title="You can contact us too!" >About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
            </li>
            <!-- once the user is logged in it shows new links -->
            {% if user.is_authenticated %}

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome {{ user.get_username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- links to profile page -->
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <div class="dropdown-divider"></div>
                    <!-- links to dashboard page -->
                <a class="dropdown-item" href="{% url 'dashboard' %}">My Dashboard</a>
                <div class="dropdown-divider"></div>
                    <!-- links to budget calculator -->
                <a class="dropdown-item" href="{% url 'budget_calculator' %}">My Budget Calc</a>
                <div class="dropdown-divider"></div>
                    <!-- Logout page -->
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                {% if user.is_staff %}
                    <div class="dropdown-divider"></div>
                    <!-- staff page -->
                    <a class="dropdown-item" href="{% url 'staff' %}">Staff page</a>
                {% endif %}
            </div>
            </li>
            <div class="navbar-nav">
            {% else %}
                <li class="nav-item">
                    <!-- if user is not logged in. option to log in shows up -->
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <!-- if user is not logged in. option to register shows up -->
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
            </div>
        </ul>
    </div>
</nav>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}

    {% endblock %}

</body>
</html>