<!doctype html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Deal Finder</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

        <ul class="navbar-nav mr-auto">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">| DEAL FINDER |</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">$$$ / $$$</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">profile</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">SHOP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">BUDGET</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">DASHBOARD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">MAP</a>
        </li>
    </ul>

</nav>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">

    <!-- Links -->

    <ul class="navbar-nav">
        <div class="d-flex justify-content-between">
        <li class="nav-item">
            <a class="nav-link" href="#">BROWSE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">CATEGORIES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">SHOPPING LIST</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">COMPARE LIST</a>
        </li>
        </div>
    </ul>

</nav>

{% block content %}

{% endblock %}
</body>
</html>