{% extends "base.html" %}

{% block content %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">

    <style>
        .row
        {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .info-content
        {
            padding-top: 50px;
        }
        .info-content1
        {
            padding-top: 50px;
        }
        .info-content2
        {
            padding-top: 50px;
        }
        a:hover {
            color: white;
            background-color: rgba(45, 103, 96, 0.78);
        }
    </style>
</head>
<body>
<!--- Information --->
    <section id="information">
        <h3>Suggestion Form</h3>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>

    </section>

</body>

{% endblock %}