{% extends "base.html" %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .dropdown{
            left: 50%;
            position: relative;
            cursor: pointer;
            align-self: center;

        }

        .default_option{

        }

        .dropdown ul{
            position: absolute;
            width: 150px;
            border-radius: 5px;
            padding: 20px;
        }

        .dropdown ul li{
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">

        <!-- Links -->

        <ul class="navbar-nav">
            <div class="d-flex justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'browse' %}">BROWSE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categories' %}">CATEGORIES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shopping_list' %}">SHOPPING LIST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'compare_list' %}">COMPARE LIST</a>
                </li>
            </div>
        </ul>

    </nav>

    <br>

    <form method="GET" action="{% url 'browse' %}">
        <div class="form-row justify-content-center">
            <input type="text" class="form-control col-9" id="search" name="search" placeholder="Search here!">
            <button type="submit" class="btn btn-dark col-1">Search</button>
            <div class="container">
                <div class="row">
                    <form class="col-md-4">
                        <label>Categories</label>
                        <select class="form-control select2">
                            <option>All</option>
                            <option>Dairy</option>
                            <option>Fruit</option>
                            <option>Vegetables</option>
                            <option>Meat</option>
                            <option>Bakery</option>
                        </select>
                    </form>
                </div>
            </div>
            <script>
                $('.select2').select2();
            </script>
        </div>
    </form>
    <br>
    {% for name, price in search_results %}
        {% if forloop.counter0|divisibleby:3 %}
            <div class="card-group text-center">
        {% endif %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ name }}</h5>
            <p class="card-text">${{ price }}</p>
            <a href="https://www.newworld.co.nz/" class="btn btn-dark">Go to store</a>
            <a href="{% url 'details' %}" class="btn btn-dark">Go to details</a>

        </div>
    </div>
    {% if forloop.counter|divisibleby:3 or forloop.last %}</div><!-- row closing -->
        <hr>{% endif %}
    {% endfor %}

    <form method="GET" action="{% url 'browse' %}">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item"><a class="" href="#">Previous</a></li>
            <li class="page-item"><a class="" href="#">Next</a></li>
        </ul>
    </nav>
    </form>
</body>
</html>
{% endblock %}