{% extends "base.html" %}

{% block content %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">

        <!-- Links -->

        <ul class="navbar-nav">
            <div class="d-flex justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'browse' %}">BROWSE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categories' %}">CATEGORIES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shopping_list' %}">SHOPPING LIST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'compare_list' %}">COMPARE LIST</a>
                </li>
            </div>
        </ul>

    </nav>

    <br>

    <form method="GET" action="{% url 'browse' %}">
        <div class="form-row justify-content-center">
            <input type="text" class="form-control col-9" id="search" name="search" placeholder="Search here!">
            <button type="submit" class="btn btn-dark col-1">Search</button>
            <div class="container">
                <div class="row">
                    <form class="col-md-4">
                        <label>Categories</label>
                        <select class="form-control select2">
                            <option>All</option>
                            <option>Dairy</option>
                            <option>Fruit</option>
                            <option>Vegetables</option>
                            <option>Meat</option>
                            <option>Bakery</option>
                        </select>
                    </form>
                </div>
            </div>
            <script>
                $('.select2').select2();
            </script>
        </div>
    </form>
    <br>
    {% for name, price in search_results %}
        {% if forloop.counter0|divisibleby:3 %}
            <div class="card-group text-center">
        {% endif %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ name }}</h5>
            <p class="card-text">${{ price }}</p>
            <a href="https://www.newworld.co.nz/" class="btn btn-dark">Go to store</a>
            <a href="{% url 'details' %}" class="btn btn-dark">Go to details</a>

        </div>
    </div>
    {% if forloop.counter|divisibleby:3 or forloop.last %}</div><!-- row closing -->
        <hr>{% endif %}
    {% endfor %}

    <form method="GET" action="{% url 'browse' %}">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <button a class="page-link" name="page" value="1">1</button>
                </li>
                <li class="page-item">
                    <button class="page-link" name="page" value="2">2</button>
                </li>
                <li class="page-item">
                    <button class="page-link" name="page" value="3">3</button>
                </li>
                <li class="page-item">
                    <button class="page-link" name="page" value="4">4</button>
                </li>
                <li class="page-item">
                    <button class="page-link" name="page" value="5">5</button>
                </li>
            </ul>
        </nav>
    </form>
</body>
</html>
{% endblock %}