{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <span style="display:flex; height: 3rem;"></span>

    <h1 class="display-2 text-center">Dashboard</h1>


    <div class="row">
    <div class="col-1 col-lg-8">
        <h2 class="display-4 text-center">Budget spending chart</h2>
    <canvas id="myChart" width="200" height="100"></canvas>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript">
        $.get('{% url "line_chart_json" %}', function (data) {
            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx, {
                type: 'line', data: data
            });
        });
    </script>
    </div>
        <div class="col-1 col-lg-4">
            <h2 class="display-4 text-center">Budget summary</h2>
            <table id="table" class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 75%">Name</th>
                    <th>Spent</th>
                    <th>Max</th>
                </tr>
                </thead>
                <tbody>
                {% for budget in budgets %}
                        <tr>
                            <td class="align-middle"><label>{{ budget.name }}</label></td>
                            <td class="align-middle"><label>{{ budget.spent }}</label></td>
                            <td class="align-middle"><label>{{ budget.max_spend }}</label></td>
                        </tr>
                    </form>
                {% endfor %}
                </tbody>
            </table>
    </div>
    </div>
</div>

{% endblock %}