{% extends "base.html" %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
    </head>
    <body>
    <div class="container">
        <h2 align="center">Our FQA and what DealFinder can do</h2>
        <p align="Center">Click on each button to see the answer.</p>

{#        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q1">#}
{#            How do I create my own profile?#}
{#        </button>#}
{#        <div id="q1" class="collapse">#}
{#            <br>#}
{#            Navigate to the right hand-side of the page and click on register#}
{#        </div>#}
{##}
{#        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q2">#}
{#            How can I create a budget?#}
{#        </button>#}
{#        <div id="q2" class="collapse">#}
{#            <br>#}
{#            Click on ......xxxxxxxxxxxx#}
{#        </div>#}
{##}
{##}
{#        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q3">#}
{#            How many shopping lists can I create?#}
{#        </button>#}
{#        <div id="q3" class="collapse">#}
{#            <br>#}
{#            As many as you like#}
{#        </div>#}
{##}
{#        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q4">#}
{#            How many shops near by can I see?#}
{#        </button>#}
{#        <div id="q4" class="collapse">#}
{#            <br>#}
{#            So far dealFinder is capable of..#}
{#        </div>#}
{##}
{#        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q5">#}
{#            What happens if I go over budget?#}
{#        </button>#}
{#        <div id="q5" class="collapse">#}
{#            <br>#}
{#            Don't worry, you can keep the same budget or create a new one#}
{#        </div>#}

        <ul class="list-group">
            <li class="list-group-item">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q1">
                    How do I create my own profile?
                </button>
                <div id="q1" class="collapse">
                    <br>
                    Navigate to the right hand-side of the page and click on register
                </div>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q2">
                    How can I create a budget?
                </button>
                <div id="q2" class="collapse">
                    <br>
                    Click on ......xxxxxxxxxxxx
                </div>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q3">
                    How many shopping lists can I create?
                </button>
                <div id="q3" class="collapse">
                    <br>
                    As many as you like
                </div>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q4">
                    How many shops near by can I see?
                </button>
                <div id="q4" class="collapse">
                    <br>
                    So far dealFinder is capable of..
                </div>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q5">
                    What happens if I go over budget?
                </button>
                <div id="q5" class="collapse">
                    <br>
                    Don't worry, you can keep the same budget or create a new one
                </div>
            </li>
        </ul>
    </div>

    </body>
    </html>

{% endblock %}
