{% extends "base.html" %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
        <body>
            <div class="container">
                <h2 align="center">Our FQA and what DealFinder can do</h2>
                <p align="Center">Click on each button to see the answer.</p>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q1">
                    How do I create my own profile?
                </button>
                <div id="q1" class="collapse">
                    <br>
                    Navigate to the right hand-side of the page and click on register
                </div>

                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q2">
                    How can I create a budget?
                </button>
                <div id="q2" class="collapse">
                    <br>
                    Click on ......xxxxxxxxxxxx
                </div>


                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q3">
                    How many shopping lists can I create?
                </button>
                <div id="q3" class="collapse">
                    <br>
                    As many as you like
                </div>

                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q4">
                    How many shops near by can I see?
                </button>
                <div id="q4" class="collapse">
                    <br>
                    So far dealFinder is capable of..
                </div>

                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q5">
                        What happens if I go over budget?
                </button>
                <div id="q5" class="collapse">
                    <br>
                    Don't worry, you can keep the same budget or create a new one
                </div>
            </div>
        </body>
    </html>

{% endblock %}
    {##}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{##}
{#</head>#}
{#<body>#}


{#        <div class="column" style="background-color: floralwhite">#}
{#            <h3> FQA</h3>#}
{#            <p>#}
{#                Find some of the most common asked questions just bellow and what deal finder is capable of so far#}
{#            </p>#}
{#            #}
{#        </div>#}

{#            <section>#}
{#                <div class="container">#}
{#                    <div class="accordion">#}
{#                        <div class="accordion-link" id="question1">#}
{#                            <a class="accordion-link" href="#question1">#}
{#                                How do I create a profile?#}
{#                                <i class="icon ion-md-remove"></i>#}
{#                                <i class="icon ion-md-add"></i>#}
{#                            </a>#}
{#                            <div class="answer">#}
{#                                Navigate to the right top of the page where you would find the option to create an account with us#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="accordion">#}
{#                        <div class="accordion-link" id="question2">#}
{#                            <a class="accordion-link" href="#question2">#}
{#                                How do many budgets can I create?#}
{#                                <ion-icon name="remove-outline"></ion-icon>#}
{#                                <i class="icon ion-md-add"></i>#}
{#                            </a>#}
{#                            <div class="answer">#}
{#                                You can create as many as you like#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="accordion">#}
{#                        <div class="accordion-link" id="question3">#}
{#                            <a class="accordion-link" href="#question3">#}
{#                                How do I see my spending#}
{#                                <ion-icon name="remove-outline"></ion-icon>#}
{#                                <i class="icon ion-md-add"></i>#}
{#                            </a>#}
{#                            <div class="answer">#}
{#                                Navigate to ....#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#                </div>#}
{##}
{#            </section>#}
{#                <div>#}
{#                    <input type="checkbox" id="faq-1">#}
{#                    <h2><label for="faq-1">How do I create my own account</label></h2>#}
{#                    <p>Nigate to the right top corner of this site.</p>#}
{#                </div>#}
{##}
{#                <div>#}
{#                    <input type="checkbox" id="faq-2">#}
{#                    <h2><label for="faq-2">How budgets can I create?</label></h2>#}
{#                    <p>As many as you like</p>#}
{#                </div>#}

{#        </div>#}
{##}
{#    </div>#}
{#        </script>#}
{#<script src="https://unpkg.com/ionicons@5.5.1/dist/ionicons.js"></script>#}
{#</body>#}
{#</html>#}
