{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">

    <!-- Links -->

    <ul class="navbar-nav">
        <div class="d-flex justify-content-between">
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            </li>
        </div>
    </ul>

</nav>

<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="userimage.jpg">
        <div class="media-body">
            <h2 class="account-heading">Username</h2>
            <p class="text-secondary">username@email.com</p>

        </div>
    </div>
    <!-- FORM HERE -->
</div>

<h2 class="display-4">Welcome to the library!</h2>
<p>The library has the following record counts:</p>
<ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
</ul>

{% endblock %}