{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .btn {
        border: 0;
        border-radius: 15px;
        background: #2d6760;
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
        padding: 5px 16px;
        margin-bottom: 5px;
        margin-left: 6px;
    }
</style>
    <span style="display:flex; height: 2rem;"></span>
    <div class="container">
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
    </form>
</div>
    </div>
{% endblock %}